:root {
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
}

body {
    font-family: Tahoma, Helvetica, Arial sans-serif;
}

button {
    background-color: burlywood;
    border: .05em solid black;
    padding: 0.5em 0.8em;
    font-size: 1em;
    min-width: 10em;
}

label {
    padding-top: 0.5em;
}

button:disabled {
    color: grey;
}

input {
    background-color: wheat;
    border: .05em solid black
}

input[type="checkbox"] {
    display: none;
}

input[type="radio"] {
    display: none;
}

textarea {
    resize: none;
    background-color: wheat;
    border: .05em solid black;
    min-height: 10em
}

input + label {
    text-align: center;
    padding: 0.5em 0.8em;
    border: .05em solid black;
    min-width: 10em;
}

input:checked + label {
    background-color: burlywood;
}

input:disabled + label {
    color: grey;
}

.sort-filter-by {
    width: 4em;
}

.flex-container {
    min-height: 100%;
    min-width: 700px;
    display: flex;
    flex-direction: column;
    background-color: wheat;
}

.flex-container > div {
    margin: 1em;

}

.flex-container > div > div {
    margin-top: 1em;
    margin-bottom: 1em;

}

.flex-item-justify-end {
    justify-content: flex-end;
}

.flex-item-flow-row {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    display: flex;
    flex-direction: row;
}

.flex-item-flow-column {
    display: flex;
    flex-direction: column;
}

.flex-item-column-15 {
    flex-basis: 15%;
}

.flex-item-column-30 {
    flex-basis: 30%;
}

.flex-item-column-grow {
    flex-grow: 1;
}

.align-right {
    margin-left: auto;
}

.note-entry {
    padding: 1em 1em;
    border: .05em solid black
}