<div id="manage-notes">
    <div class="flex-container">
        <div>
            <button onclick="showCreateNoteView()">Create new note</button>
        </div>
        <div>
            <div>
                <label for="radio-sort-by-finish-date">By finish date</label>
                <input type="radio" id="radio-sort-by-finish-date" name="radio-sort" value="finish-date">
            </div>
            <div>
                <label for="radio-sort-by-created-date">By created date</label>
                <input type="radio" id="radio-sort-by-created-date" name="radio-sort" value="created-date">
            </div>
            <div>
                <label for="radio-sort-by-importance">By importance</label>
                <input type="radio" id="radio-sort-by-importance" name="radio-sort" value="importance">
            </div>
        </div>
        <div>
            <button>Show finished</button>
        </div>
        <div id="note-entries">

        </div>
    </div>

</div>