<div id="manage-notes">
    <div class="flex-container">
        <div class="flex-item-flow-row">
            <div class="flex-item-column-1">
                <button onclick="notesController.showCreateNoteView()">Create new note</button>
            </div>
            <div class="flex-item-column-end">
            </div>
            <div class="flex-item-column-1">
                <input type="radio" id="radio-style-a" name="radio-style" value="main-styles.css" checked>
                <label for="radio-style-a">Style A</label>

                <input type="radio" id="radio-style-b" name="radio-style" value="alternative-styles.css">
                <label for="radio-style-b">Style B</label>

                <button onclick="notesController.switchStyle('main-styles.css')">Style A</button>
                <button onclick="notesController.switchStyle('alternative-styles.css')">Style B</button>
            </div>
        </div>
        <div class="flex-item-flow-row">
            <label class="sort-filter-by">Sort by</label>
                <input type="radio" id="radio-sort-by-finish-date" name="radio-sort" value="finish-date" {{attribute
                        'checked'
                        sortBy 'finishDate'}}>
                <label for="radio-sort-by-finish-date">By finish date</label>
                <input type="radio" id="radio-sort-by-due-date" name="radio-sort" value="due-date" {{attribute 'checked'
                                                                                                               sortBy
                                                                                                               'dueDate'}}>
                <label for="radio-sort-by-due-date">By due date</label>
                <input type="radio" id="radio-sort-by-priority" name="radio-sort" value="importance" {{attribute
                        'checked'
                        sortBy 'priority'}}>
                <label for="radio-sort-by-priority">By priority</label>
        </div>
        <div class="flex-item-flow-row">
            <lable class="sort-filter-by">Filter by</lable>
            <input type="checkbox" id="input-show-finished" {{attribute 'checked' showFinished true}}>
            <label for="input-show-finished">Show finished</label>
        </div>
        <div id="note-entries" class="flex-item-flow-column">
            {{#each entries}}
                {{> entry}}
            {{/each}}
        </div>
    </div>

</div>