<div id="note-entry-{{id}}" class="flex-item-flow-column">
    <div class="flex-item-flow-row">
        <label class="flex-item-column-1">{{dueDate}}</label>
        <lable class="flex-item-column-1">{{title}}</lable>
        <div class="flex-item-column-1">
            <input type="checkbox" id="input-set-finished-1" value="{{finished}}">
            <label for="input-set-finished-1">Finished</label>
        </div>
    </div>
    <div class="flex-item-flow-row">
        <label class="flex-item-column-1">{{priority}}</label>
        <label class="flex-item-column-1">{{description}}</label>
        <button class="flex-item-column-1">Edit</button>
    </div>
</div>