<div id="note-entry" class="flex-item-flow-column">
    <div class="flex-item-flow-row">
        <label class="flex-item-column-1">Due Date</label>
        <lable class="flex-item-column-1">Title</lable>
        <div class="flex-item-column-1">
            <input type="checkbox" id="input-set-finished-1" value="false">
            <label for="input-set-finished-1">Finished</label>
        </div>
    </div>
    <div class="flex-item-flow-row">
        <label class="flex-item-column-1">Priority</label>
        <label class="flex-item-column-1">Description</label>
        <button class="flex-item-column-1">Edit</button>
    </div>
</div>