<div id="manage-notes">
    <div class="flex-container">
        <div class="flex-item-flow-row">
            <div class="flex-item-column-15">
                <button id="button-show-create-note-view">Create new note</button>
            </div>
            <div class="flex-item-column-grow">
            </div>
            <div class="flex-item-column-30 flex-item-flow-row flex-item-justify-end">
                <input type="radio" id="radio-style-main" name="radio-style" checked>
                <label for="radio-style-main">Main Style</label>

                <input type="radio" id="radio-style-alternative" name="radio-style">
                <label for="radio-style-alternative">Alternative Style</label>

            </div>
        </div>
        <div class="flex-item-flow-row">
            <label class="sort-filter-by">Sort by</label>
                <input type="radio" id="radio-sort-by-finish-date" name="radio-sort" value="finish-date" {{attribute
                        'checked'
                        sortBy 'finishDate'}}>
            <label for="radio-sort-by-finish-date">Finish Date</label>
                <input type="radio" id="radio-sort-by-due-date" name="radio-sort" value="due-date" {{attribute 'checked'
                                                                                                               sortBy
                                                                                                               'dueDate'}}>
            <label for="radio-sort-by-due-date">Due Date</label>
                <input type="radio" id="radio-sort-by-priority" name="radio-sort" value="importance" {{attribute
                        'checked'
                        sortBy 'priority'}}>
            <label for="radio-sort-by-priority">Priority</label>
        </div>
        <div class="flex-item-flow-row">
            <label class="sort-filter-by">Show</label>
            <input type="checkbox" id="input-show-finished" {{attribute 'checked' showFinished true}}>
            <label for="input-show-finished">Finished</label>
        </div>
        <div id="note-entries" class="flex-item-flow-column">
            {{#each entries}}
                {{> entry}}
            {{/each}}
        </div>
    </div>

</div>