:root {
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
}

body {
    font-family: Tahoma, Helvetica, Arial sans-serif;
}

button {
    background-color: burlywood; /* Green */
    border: none;
    color: black;
    padding: 0.5em 0.8em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    min-width: 10em;
    max-width: 10em;
}

input {
    background-color: wheat;
    border: .05em solid black
}

textarea {
    resize: none;
    background-color: wheat;
    border: .05em solid black;
    min-height: 10em
}

input[type="radio"] + label {
    padding: 0.5em 0.8em;
}

input[type="radio"]:checked + label {
    background-color: burlywood;
}

input[type="radio"] {
    display: none;
}

.flex-container {
    min-height: 100%;
    min-width: 700px;
    display: flex;
    flex-direction: column;
    background-color: wheat;
}

.flex-container > div {
    flex: 1;
    margin: 1em;

}

.flex-container > div > div {
    margin-top: 0.8em;
    margin-bottom: 0.8em;

}

.flex-item-flow-row {
    margin-top: 0.4em;
    margin-bottom: 0.4em;
    display: flex;
    flex-direction: row;
}

.flex-item-flow-column {
    display: flex;
    flex-direction: column;
}

input + label {
    margin-right: 15px;
}

.flex-item-column-1 {
    flex-basis: 20%;
}

.flex-item-column-end {
    flex-grow: 1;
}

.align-right {
    margin-left: auto;
}

.note-entry {
    padding: 1em 1em;
    border: .05em solid black
}