:root {
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
}

body {
    font-family: Helvetica, Arial, sans-serif;
}

/*.radio-button {*/
/*display: inline-block;*/
/*width: 100px;*/
/*height: 50px;*/
/*border: solid 2px red;*/
/*}*/
/*input[type="radio"] {*/
/*display:none;*/
/*}*/
/*input[type="radio"]:checked {*/
/*border: solid 2px green;*/
/*}*/

.flex-container {
    min-height: 100%;
    min-width: 600px;
    display: flex;
    flex-direction: column;
    background-color: lavender;
}

.flex-container > div {
    flex: 1;
    margin: 1em;

}

.flex-container > div > div {
    margin-top: 0.8em;
    margin-bottom: 0.8em;

}

.flex-item-flow-row {
    display: flex;
    flex-direction: row;
}

.flex-item-flow-column {
    display: flex;
    flex-direction: column;
}

input + label {
    margin-right: 15px;
}

.flex-item-column-1 {
    flex-basis: 20%;
}

.flex-item-column-end {
    flex-grow: 1;
}

.input-description {
    height: 10em;
}

.align-right {
    margin-left: auto;
}

.note-entry {
    border: .05em solid black
}